.footer {
    display: fixed;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
}

.footer p {
    padding: 20px;
    font-size: 20px;
}