<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
<br>
        <h1>INFOGRAFÍA CRISTIANO RONALDO</h1>
<br>
        <img src="assets/img/ronaldo.jpg" class="rounded mx-auto d-block" alt="...">
        <div class="p">
            <p>NOMBRE: Cristiano Ronaldo</p>
            <p>BIOGRAFÍA: Futbolista portugués que juega como delantero en el Manchester United Football Club de la Premier League de Inglaterra y en la selección de Portugal, de la cual es su capitán y máximo goleador histórico.</p>
            <p>NACIMIENTO: 5 de febrero de 1985</p>
            <p>SELECCIÓN: Portugal</p>
            <p>EQUIPO: Manchester UNITED</p>
        </div>
<br>
    </div>
    <div class="botonA">
        <a class="btn btn-primary btn-lg" role="button" routerLink="/jugadores">volver a Home</a>
    </div>
</body>